@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1eaeb;
  overflow-x: hidden;
}

header {
  width: 85%;
  margin: 0 auto;
  height: 30px;
  padding: 10px 0;
}
header img {
  display: block;
  margin-left: auto;
  width: 7.5%;
  aspect-ratio: 1/1;
}

main {
  width: 85%;
  margin: 0 auto;
}
main .main_main-page .main-page_top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
main .main_main-page .main-page_top-part .top-part_text-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  margin-bottom: 40px;
}
main .main_main-page .main-page_top-part .top-part_text-content.hidden {
  display: none;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_title {
  font-size: 30px;
  font-weight: 500;
  color: #622819;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 5px;
  font-size: 16px;
  color: #622819;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_subtitle img {
  width: 15px;
  height: 15px;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_category {
  display: block;
  padding: 7px 20px;
  color: #622819;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffd285;
  border-radius: 40px;
}
main .main_main-page .main-page_top-part .top-part_cart {
  width: 30px;
  height: 30px;
}
main .main_main-page .main-page_top-part .top-part_hidden-block {
  display: none;
}
main .main_main-page .main-page_top-part.change-for-prodPage {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_text-content {
  display: none;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_hidden-block {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_hidden-block .top-part_btn-nav {
  width: 30px;
  height: 30px;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_hidden-block .top-part_pizza-name {
  font-size: 22px;
  color: #622819;
}
main .main_main-page .container-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 420px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card {
  width: 200px !important;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod {
  width: 260px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(0 25px 20px rgba(98, 40, 25, 0.45));
          filter: drop-shadow(0 25px 20px rgba(98, 40, 25, 0.45));
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod .back-part {
  width: 90%;
  position: relative;
  z-index: 1;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f1eaeb), color-stop(90%, #f9f5f2));
  background: linear-gradient(#f1eaeb 10%, #f9f5f2 90%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name,
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, transform 0.2s;
  transition: opacity 0.3s, transform 0.2s, -webkit-transform 0.2s;
  opacity: 1;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name.hidden,
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price.hidden {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name {
  font-size: 20px;
  color: #622819;
  font-weight: 400;
  margin-bottom: 8px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 15px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment img {
  width: 13px;
  height: 13px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment.hidden {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price {
  font-size: 25px;
  font-weight: 600;
  color: #622819;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 15px;
  color: #622819;
  font-size: 10px;
  background-color: transparent;
  border-radius: 50%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size.active {
  background-color: white;
  -webkit-box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
          box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_add-to-cart {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd285), to(#f8613b));
  background: linear-gradient(to bottom, #ffd285, #f8613b);
  -webkit-filter: drop-shadow(0 10px 4px rgb(255, 210, 133));
          filter: drop-shadow(0 10px 4px rgb(255, 210, 133));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -20px;
  margin: 0 auto;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_add-to-cart img {
  width: 50%;
  height: 50%;
  -webkit-filter: invert(1);
          filter: invert(1);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd {
  width: 85%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .back-part {
  position: absolute;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .pizza-photo {
  width: 80%;
  position: relative;
  z-index: 10;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data {
  width: 100%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data-pizza_name {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data-pizza_assessment {
  display: none;
}
main .main_main-page .container-swiper .swiper {
  width: 100% !important;
  overflow: visible;
  position: relative;
  top: -20%;
  z-index: 5;
}
main .main_main-page .container-swiper .swiper.hidden {
  display: none;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper {
  margin: 0 auto !important;
  position: relative;
  -webkit-transform: translateX(19.3%) translateY(-5%) !important;
          transform: translateX(19.3%) translateY(-5%) !important;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide {
  width: 120px !important;
  aspect-ratio: 1/1;
  opacity: 0 !important;
  margin-right: 0 !important;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  width: 205px !important;
  aspect-ratio: 1/1;
  opacity: 1 !important;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-prev, main .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  opacity: 1 !important;
}