@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1eaeb;
  display: block;
  overflow-x: hidden;
}
body.style-for-prodPage {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f5f2), to(#f1eaeb));
  background: linear-gradient(#f9f5f2, #f1eaeb);
}

header {
  width: 85%;
  margin: 0 auto;
  height: 30px;
  padding: 10px 0;
}
header img {
  display: block;
  margin-left: auto;
  width: 7.5%;
  aspect-ratio: 1/1;
}

main {
  width: 100%;
}
main .main_main-page .main-page_top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
main .main_main-page .main-page_top-part .top-part_text-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  margin-bottom: 40px;
}
main .main_main-page .main-page_top-part .top-part_text-content.hidden {
  display: none;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_title {
  font-size: 30px;
  font-weight: 500;
  color: #622819;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 5px;
  font-size: 16px;
  color: #622819;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_subtitle img {
  width: 15px;
  height: 15px;
}
main .main_main-page .main-page_top-part .top-part_text-content .text-content_category {
  display: block;
  padding: 7px 20px;
  color: #622819;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffd285;
  border-radius: 40px;
}
main .main_main-page .main-page_top-part .top-part_btn-nav {
  display: none;
}
main .main_main-page .main-page_top-part .top-part_pizza-name {
  display: none;
}
main .main_main-page .main-page_top-part .top-part_cart {
  width: 30px;
  height: 30px;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_text-content {
  display: none;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_btn-nav {
  display: block;
  width: 30px;
  height: 30px;
}
main .main_main-page .main-page_top-part.change-for-prodPage .top-part_pizza-name {
  display: inline-block;
  font-size: 25px;
  color: #622819;
}
main .main_main-page .container-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 85%;
  margin: 0 auto;
  height: 420px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card {
  width: 200px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod {
  width: 260px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(0 25px 20px rgba(98, 40, 25, 0.45));
          filter: drop-shadow(0 25px 20px rgba(98, 40, 25, 0.45));
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod .back-part {
  width: 93%;
  position: relative;
  z-index: 1;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f1eaeb), color-stop(90%, #f9f5f2));
  background: linear-gradient(#f1eaeb 5%, #f9f5f2 90%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name,
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, transform 0.2s;
  transition: opacity 0.3s, transform 0.2s, -webkit-transform 0.2s;
  opacity: 1;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name.hidden,
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price.hidden {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name {
  font-size: 20px;
  color: #622819;
  font-weight: 400;
  margin-bottom: 8px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 15px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment img {
  width: 13px;
  height: 13px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment.hidden {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price {
  font-size: 30px;
  font-weight: 600;
  color: #622819;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 15px;
  color: #622819;
  font-size: 10px;
  background-color: transparent;
  border-radius: 50%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size.active {
  background-color: white;
  -webkit-box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
          box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data_topping-for-pizza {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_add-to-cart {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd285), to(#f8613b));
  background: linear-gradient(to bottom, #ffd285, #f8613b);
  -webkit-filter: drop-shadow(0 10px 4px rgb(255, 210, 133));
          filter: drop-shadow(0 10px 4px rgb(255, 210, 133));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -20px;
  margin: 0 auto;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_add-to-cart img {
  width: 50%;
  height: 50%;
  -webkit-filter: invert(1);
          filter: invert(1);
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd {
  width: 100%;
  padding: 30px 0;
  background-color: #f9f5f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod {
  width: 90%;
  position: relative;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .back-part {
  position: absolute;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .pizza-photo {
  width: 80%;
  position: relative;
  z-index: 10;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block {
  position: absolute;
  display: block;
  width: 60%;
  height: 70%;
  margin: 0 auto;
  -webkit-perspective: 800px;
          perspective: 800px;
  z-index: 100;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation {
  width: 18%;
  aspect-ratio: 1/1;
  position: relative;
  opacity: 0;
  -webkit-filter: drop-shadow(-4px 5px 3px rgba(98, 40, 25, 0.8));
          filter: drop-shadow(-4px 5px 3px rgba(98, 40, 25, 0.8));
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.animate {
  -webkit-animation: dropTopping 0.6s forwards;
          animation: dropTopping 0.6s forwards;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.two.animate {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.three {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.four {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.five {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_img-prod .animation-block .el-animation.six {
  -webkit-animation-delay: 0.38s;
          animation-delay: 0.38s;
}
@-webkit-keyframes dropTopping {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes dropTopping {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data {
  width: 100%;
  background: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data-pizza_name {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data-pizza_assessment {
  display: none;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 40px;
  width: 80%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza .topping-for-pizza_hint-message {
  font-size: 16px;
  font-weight: 400;
  color: #622819;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza .topping-for-pizza_topping-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  list-style: none;
  width: 85%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza .topping-for-pizza_topping-list .topping-list_topping {
  width: 25%;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffd285;
  border-radius: 50%;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza .topping-for-pizza_topping-list .topping-list_topping .topping_topping-img {
  position: absolute;
  z-index: 1;
  width: 33px;
  aspect-ratio: 1/1;
  -webkit-filter: drop-shadow(0 3px 2px rgba(27, 12, 12, 0.5));
          filter: drop-shadow(0 3px 2px rgba(27, 12, 12, 0.5));
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: -webkit-grab;
  cursor: grab;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_data .data_topping-for-pizza .topping-for-pizza_topping-list .topping-list_topping .topping_topping-img.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  scale: 1.5;
}
main .main_main-page .container-swiper .constiner-swiper_pizza-card.version-for-pageProd .pizza-card_add-to-cart {
  position: absolute;
  top: 95%;
}
main .main_main-page .container-swiper .swiper {
  width: 100% !important;
  overflow: visible;
  display: block;
}
main .main_main-page .container-swiper .swiper.hidden {
  display: none;
}
main .main_main-page .container-swiper .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_main-page .container-swiper .swiper .swiper-slide {
  width: 63%;
  aspect-ratio: 1/1;
  opacity: 0 !important;
  -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
  transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
  transition: transform 0.35s ease, opacity 0.35s ease;
  transition: transform 0.35s ease, opacity 0.35s ease, -webkit-transform 0.35s ease;
  z-index: 1;
}
main .main_main-page .container-swiper .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .main_main-page .container-swiper .swiper .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  z-index: 10;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  position: relative;
  top: -90px;
}
main .main_main-page .container-swiper .swiper .swiper-slide.swiper-slide-prev, main .main_main-page .container-swiper .swiper .swiper-slide.swiper-slide-next {
  opacity: 1 !important;
  z-index: 5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
