@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color: #622819;
  --2: #f8613b;
  --3: #FFD285;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1eaeb;
  overflow-x: hidden;
}

.main_main-page .main-page_text-content {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  margin: 40px auto;
}
.main_main-page .main-page_text-content .text-content_title {
  font-size: 30px;
  color: #622819;
}
.main_main-page .main-page_text-content .text-content_subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 5px;
  font-size: 16px;
  color: #622819;
}
.main_main-page .main-page_text-content .text-content_subtitle img {
  width: 15px;
  height: 15px;
}
.main_main-page .main-page_text-content .text-content_category {
  display: block;
  padding: 7px 20px;
  color: #622819;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffd285;
  border-radius: 40px;
}
.main_main-page .container-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 360px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card {
  width: 200px !important;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod {
  width: 230px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(0 20px 20px rgba(98, 40, 25, 0.5));
          filter: drop-shadow(0 20px 20px rgba(98, 40, 25, 0.5));
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_img-prod .back-part {
  width: 90%;
  position: relative;
  z-index: 1;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data {
  width: 100%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f1eaeb), color-stop(90%, #f9f5f2));
  background: linear-gradient(#f1eaeb 10%, #f9f5f2 90%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_name {
  font-size: 20px;
  color: #622819;
  font-weight: 400;
  margin-bottom: 8px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 15px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_assessment img {
  width: 13px;
  height: 13px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_price {
  font-size: 25px;
  font-weight: 600;
  color: #622819;
  margin-bottom: 15px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 15px;
  color: #622819;
  font-size: 10px;
  background-color: transparent;
  border-radius: 50%;
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_data .data-pizza_choose-size .size.active {
  background-color: white;
  -webkit-box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
          box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
}
.main_main-page .container-swiper .constiner-swiper_pizza-card .pizza-card_add-to-cart {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffd285), color-stop(50%, #f8613b));
  background: linear-gradient(to bottom, #ffd285 50%, #f8613b 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -20px;
  margin: 0 auto;
}
.main_main-page .container-swiper .swiper {
  width: 100% !important;
  overflow: visible;
  position: relative;
  top: -25%;
  left: -10px;
  z-index: 5;
}
.main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide {
  width: 100px !important;
  aspect-ratio: 1/1;
  opacity: 0 !important;
  margin-right: 0 !important;
}
.main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  width: 185px !important;
  aspect-ratio: 1/1;
  opacity: 1 !important;
}
.main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-prev, .main_main-page .container-swiper .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  opacity: 1 !important;
}