@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1eaeb;
  overflow-x: hidden;
}

header {
  width: 85%;
  margin: 0 auto;
  height: 30px;
  padding: 10px 0;

  img {
    display: block;
    margin-left: auto;
    width: 7.5%;
    aspect-ratio: 1 / 1;
  }
}

main {
  width: 85%;
  margin: 0 auto;

  .main_main-page {
    .main-page_top-part {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      .top-part_text-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin-bottom: 40px;

        &.hidden {
          display: none;
        }

        .text-content_title {
          font-size: 30px;
          font-weight: 500;
          color: #622819;
        }

        .text-content_subtitle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 5px;
          font-size: 16px;
          color: #622819;

          img {
            width: 15px;
            height: 15px;
          }
        }

        .text-content_category {
          display: block;
          padding: 7px 20px;
          color: #622819;
          font-size: 16px;
          font-weight: 600;
          background-color: #ffd285;
          border-radius: 40px;
        }
      }

      .top-part_cart {
        width: 30px;
        height: 30px;
      }

      .top-part_hidden-block {
        display: none;
      }

      &.change-for-prodPage {
        flex-direction: row-reverse;

        .top-part_text-content {
          display: none;
        }

        .top-part_hidden-block {
          width: 75%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .top-part_btn-nav {
            width: 30px;
            height: 30px;
          }

          .top-part_pizza-name {
            font-size: 22px;
            color: #622819;
          }
        }
      }
    }

    .container-swiper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 420px;

      .constiner-swiper_pizza-card {
        width: 200px !important;
        position: absolute;
        top: 0;
        z-index: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.5s;

        .pizza-card_img-prod {
          width: 260px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 35px;
          filter: drop-shadow(0 25px 20px rgba(98, 40, 25, 0.45));

          .back-part {
            width: 90%;
            position: relative;
            z-index: 1;
          }
        }

        .pizza-card_data {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background: linear-gradient(#f1eaeb 10%, #f9f5f2 90%);
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;

          .data-pizza_name,
          .data-pizza_price {
            transition: opacity 0.3s, transform 0.2s;
            opacity: 1;

            &.hidden {
              opacity: 0;
              transform: translateY(-50px);
            }
          }

          .data-pizza_name {
            font-size: 20px;
            color: #622819;
            font-weight: 400;
            margin-bottom: 8px;
          }

          .data-pizza_assessment {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            margin-bottom: 15px;

            img {
              width: 13px;
              height: 13px;
            }

            &.hidden {
              display: none;
            }
          }

          .data-pizza_price {
            font-size: 25px;
            font-weight: 600;
            color: #622819;
            margin-bottom: 15px;
            transition: all 0.5s;
          }

          .data-pizza_choose-size {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;

            .size {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 13px 15px;
              color: #622819;
              font-size: 10px;
              background-color: transparent;
              border-radius: 50%;

              &.active {
                background-color: white;
                box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
              }
            }
          }
        }

        .pizza-card_add-to-cart {
          width: 45px;
          height: 45px;
          border-radius: 4px;
          border: none;
          background: linear-gradient(to bottom, #ffd285, #f8613b);
          filter: drop-shadow(0 10px 4px rgba(255, 210, 133, 1));
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: -20px;
          margin: 0 auto;

          img {
            width: 50%;
            height: 50%;
            filter: invert(1);
          }
        }

        &.version-for-pageProd {
          width: 85%;

          .pizza-card_img-prod {
            .back-part {
              position: absolute;
            }

            .pizza-photo {
              width: 80%;
              position: relative;
              z-index: 10;
            }
          }

          .pizza-card_data {
            width: 100%;
            
            .data-pizza_name {
              display: none;
            }

            .data-pizza_assessment {
              display: none;
            }
          }
        }
      }

      .swiper {
        width: 100% !important;
        overflow: visible;
        position: relative;
        top: -20%;
        z-index: 5;

        &.hidden {
          display: none;
        }

        .swiper-wrapper {
          margin: 0 auto !important;
          position: relative;
          transform: translateX(19.3%) translateY(-5%) !important;

          .swiper-slide {
            width: 120px !important;
            aspect-ratio: 1 / 1;
            opacity: 0 !important;
            margin-right: 0 !important;

            img {
              width: 100%;
              height: 100%;
            }

            &.swiper-slide-active {
              width: 205px !important;
              aspect-ratio: 1 / 1;
              opacity: 1 !important;
            }

            &.swiper-slide-prev,
            &.swiper-slide-next {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
}