@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: #622819;
    --2: #f8613b;
    --3: #FFD285;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f1eaeb;
    overflow-x: hidden;
}

.main_main-page {
    .main-page_text-content {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin: 40px auto;

        .text-content_title {
            font-size: 30px;
            color: #622819;
        }

        .text-content_subtitle {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 5px;
            font-size: 16px;
            color: #622819;

            img {
                width: 15px;
                height: 15px;
            }
        }

        .text-content_category {
            display: block;
            padding: 7px 20px;
            color: #622819;
            font-size: 16px;
            font-weight: 600;
            background-color: #ffd285;
            border-radius: 40px;
        }
    }

    .container-swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 360px;

        .constiner-swiper_pizza-card {
            width: 200px !important;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .pizza-card_img-prod {
                width: 230px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                filter: drop-shadow(0 20px 20px rgba(98, 40, 25, 0.5));

                .back-part {
                    width: 90%;
                    position: relative;
                    z-index: 1;
                }
            }

            .pizza-card_data {
                width: 100%;
                padding-bottom: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background: linear-gradient(#f1eaeb 10%, #f9f5f2 90%);
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;

                .data-pizza_name {
                    font-size: 20px;
                    color: #622819;
                    font-weight: 400;
                    margin-bottom: 8px;
                }

                .data-pizza_assessment {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                    margin-bottom: 15px;

                    img {
                        width: 13px;
                        height: 13px;
                    }
                }

                .data-pizza_price {
                    font-size: 25px;
                    font-weight: 600;
                    color: #622819;
                    margin-bottom: 15px;
                }

                .data-pizza_choose-size {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 13px;

                    .size {
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 13px 15px;
                        color: #622819;
                        font-size: 10px;
                        background-color: transparent;
                        border-radius: 50%;

                        &.active {
                            background-color: white;
                            box-shadow: 0 7px 20px rgba(128, 128, 128, 0.1);
                        }
                    }
                }
            }

            .pizza-card_add-to-cart {
                width: 45px;
                height: 45px;
                border-radius: 4px;
                border: none;
                background: linear-gradient(to bottom, #ffd285 50%, #f8613b 50%);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -20px;
                margin: 0 auto;
            }
        }

        .swiper {
            width: 100% !important;
            overflow: visible;
            position: relative;
            top: -25%;
            left: -10px;
            z-index: 5;

            .swiper-wrapper {
                .swiper-slide {
                    width: 100px !important;
                    aspect-ratio: 1 / 1;
                    opacity: 0 !important;
                    margin-right: 0 !important;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &.swiper-slide-active {
                        width: 185px !important;
                        aspect-ratio: 1 / 1;
                        opacity: 1 !important;
                    }

                    &.swiper-slide-prev,
                    &.swiper-slide-next {
                        opacity: 1 !important;
                    }
                }

            }
        }
    }
}