@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: #622819;
    --2: #f8613b;
    --3: #FFD285;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f1eaeb;
}

.main_main-page {
    width: 100%;

    .swiper {
        width: 100% !important;
        overflow: visible !important;

        .swiper-wrapper {
            width: 100% !important;
            overflow: visible !important;

            .swiper-slide {
                width: 80% !important;
                height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 0 !important;

                .swiper-slide_img-prod {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    transform: translateY(-80%);
                    z-index: 10 !important;
                    margin: 0 auto;
                    margin-bottom: 40px;
                    width: 300px;

                    .back-part {
                        position: absolute;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                    }

                    .first-part {
                        position: relative;
                        width: 85%;
                        aspect-ratio: 1 / 1;
                    }
                }

                .swiper-slide_card {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #f9f5f2;
                    border-bottom-left-radius: 50%;
                    border-bottom-right-radius: 50%;

                    .card_data-pizza {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        width: 90%;

                        .data-pizza_name {
                            font-size: 25px;
                            color: #622819;
                        }

                        .data-pizza_assessment {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px;
                            width: 60%;

                            div {
                                width: 30px;
                                height: 30px;
                                background-color: transparent;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .active {
                                background-color: white;
                            }
                        }

                        .data-pizza_price {
                            font-size: 40px;
                            color: #622819;
                        }

                        .data-pizza_choose-size {
                            width: 85%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px;

                            .size {
                                width: 20%;
                                padding: 10px;
                                border-radius: 50%;
                                background-color: white;
                                font-size: 19px;
                                color: #622819;
                                border: none;
                            }
                        }
                    }
                }

            }
        }
    }
}